<ul>
  <li><a href="#introduction">The historiographic stakes of late 19th-century Caribbean history</a>
    <ul>
      <li><a href="#empire">How do we build empire (and histories of empire)?</a></li>
      <li><a href="#empire-making">Representation, War Correspondents and Empire-Making</a></li>
    </ul>
  </li>
  <li><a href="#MMATCH">Grounding the Epistemologial Challenges of Digital History in Mixed-Method Approaches To Collaborative History (MMATCH)</a>
    <ul>
      <li><a href="#MMATCH-Cuban">Computational and close-reading histories of the Cuban War of Independence</a>    
    <ul>
          <li><a href="#Step1">Step 1: Sourcing, periodization and corpus building</a></li>
          <li><a href="#Step2">Step 2: Parallel computational and close-reading analysis</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#CollaborativeAnalysis">A Collaborative Analysis of Three War Correspondents</a>
    <ul>
      <li><a href="#Step3-4">MMATCH Steps 3 &amp; 4: Dialogue-based triangulation and revised analysis</a></li>
    </ul>
  </li>
  <li><a href="#Misinformation">Information, Misinformation, and Connections in Cuba</a>
    <ul>
      <li><a href="#Step5">MMATCH Step 5: Results</a></li>
    </ul>
  </li>
</ul>