<ul>
  <li><a href="#Empire" id="Empire">How Are Empires—and Imperial Histories—Built?</a></li>
  <li><a href="#Historiography" id="Historiography">The Historiographic Stakes of 19th-century Cuba and US Imperial Norms</a></li>
  <li><a href="#MMATCHIntro" id="MMATCHIntro">Bridging the Gap Between Epistemological Conundrums and Collaborative History: Mixed-Method Approaches to Collaborative History (MMATCH)</a></li>
  <li><a href="#MMATCHSteps" id="MMATCHSteps">MMATCH in Integrating Computational and Close-Reading Histories of the Cuban War of Independence</a>
	  <ul>
		  <li><a href="#Step1" id="Step1">Step 1: Sourcing, Periodization, and Corpus Building</a></li>
		  <li><a href="#Step2" id="Step2">Step 2: Parallel Computational and Close-Reading Analysis</a></li>
          <li><a href="#Step3" id="Step3">Step 3: A Dialogue-Based Triangulation, or Informal Historiography</a></li>
		  <li><a href="#Step4" id="Step4">Step 4: Revising The Boundaries of Our Sources</a></li>
		  <li><a href="#Step5" id="Step5">Step 5: Results</a></li>
		</ul>
  </li>
  <li><a href="#Conclusion" id="#Conclusion">From the End of our MMATCH Project to the Beginning of Yours</a></li>
</ul>
