<ul>
	<li><a href="#introduction">The historiographic stakes of late 19th-century Caribbean history</a></li>
	<ul>
		<li><a href="#empire">How do we build empire (and histories of empire)</li>
		<li><a href="#empire-making">Representation, War Correspondents and Empire-Making</li>
	</ul>
	<li><a href="#MMATCH">Grounding History in Method-Driven Approaches with MMATCH</a></li>
	<ul>
		<li><a href="#MMATCH-Cuban">MMATCH in integrating computational and close-reading histories of the Cuban War of Independence</a></li>
		<li><a href="#Step1">Step 1: Sourcing, periodization and corpus building</a>
		<li><a href="#Step2">Step 2: Parallel computational and close-reading analysis</a>
		<li><a href="#Step3">Step 3: Dialogue-based triangulation</a>
		<li><a href="#Step4">Step 4: Revised parallel analysis</a>
	</ul>
</ul>